# List Comprehension

When we build lists from individual elements we usually write a for-loop like the following to create, say, a list of squares of values in the range `1` to `10`:

In [1]:
squared = [] # Initialization

for int_val in range( 1, 11 ):
    #
    squared.append( int_val**2 ) # Appending of an item

So we get

In [2]:
squared

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

This is all good, but, except for the fact that we wrote a separate line of code to initialize our list, and then we had to explicitly call `list.append()` to add each squared value to the list, `squared`.

Python provides a shorter method to do what the above code does using the _list comprehension_ syntax.

In [3]:
squared = [int_val**2 for int_val in range( 1, 11 )]

This is all it takes to do what we did first above.

In [4]:
squared

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

Therefore, with the list comprehension syntax, we do not have to expliclity initialize our lists, and we do not have to explicity call `list.append()` to add new values to our lists. Both of these actions essentially happen behind the scenes.

The general format of the list comprehension syntax is as follows:

    list_variable = [transform( x ) for x in iterable <if ...>]
    
Note that we can also _select_ which `x` values we wish to add to our `list_variable` using an `if`-statment as well, thereby accomplishing _filtering_.

The list comprehension syntax is a good substitute for multi-line for-loops&mdash;__not__ `while`-loops&mdash; and functions such as `map()`, `filter()`, and `reduce()`.

To _filter_ in (or keep) all *even* integers between 1 and 20 (inclusive), we could write the following code:

In [5]:
even_lst = [] # Initialization

for i in range( 1, 21 ):
    #
    if i % 2 == 0:
        #
        even_lst.append( i ) # Appending a value

Let us see if everything happened as expected.

In [6]:
even_lst

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

As you know, we could have written a `while`-loop to do the same.

In [7]:
even_lst = [] # Initialization of the container/list
int_val = 1 # Initialize a counter

while int_val <= 20:
    #
    if int_val % 2 == 0:
        #
        even_lst.append( int_val ) # Appending
        
    int_val += 1 # Increment the counter

Let's check ...

In [8]:
even_lst

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

Wouldn't it be nice if we could just replace all this with a one-line, easy-to-comprehend Python code?

In [9]:
even_lst = [i for i in range( 1, 21 ) if i % 2 == 0]

Let's check ...

In [10]:
even_lst

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

So, using an `if`-statement, we _filtered_ out all _odd_ values.

We could have done this using Python's `filter()` function as well.

---

## `filter( function, iterable )`

In [12]:
even_lst = filter( lambda v: v % 2 == 0, range( 1, 21 ) )

Let's check ...

In [13]:
even_lst

In [14]:
list( even_lst ) # No need to do this conversion in a regular program

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

Note that `filter()` returns a different kind of object that we can _iterate_ through with for-loop, but, if we want to just see what's inside that object, we need to explicity convert it to a list. So, under normal circumstances, we would skip the conversion to list.

## Nested list comprehensions

From [https://www.datacamp.com/community/tutorials/python-list-comprehension](https://www.datacamp.com/community/tutorials/python-list-comprehension)

> Apart from conditionals, you can also adjust your list comprehensions by nesting them within other list comprehensions. This is handy when you want to work with lists of lists: generating lists of lists, transposing lists of lists or flattening lists of lists to regular lists, for example, becomes extremely easy with nested list comprehensions.

_Flattening_ means taking all elements out of sublists all the way up to the top level of the list so that there are no more sublists.

[cur_element for cur_sublist in list_of_lists for cur_element in cur_sublist]

In [16]:
list_of_lists = [[1, 2, 3], [4, 5, 6], [7, 8]]

In [17]:
[y for x in list_of_lists for y in x]

[1, 2, 3, 4, 5, 6, 7, 8]

With `x`s and `y`s in the original example from the above cited page, it's difficult to understand what is going on here.

We have two for-loops, but which is inside which?

So let us try to write this using regular looping and proper naming first. And please remember your initializations!

In [18]:
result = []

for cur_sublist in list_of_lists:
    #
    for cur_element in cur_sublist:
        #
        result.append( cur_element )
        
# >>> [cur_element for cur_sublist in list_of_lists for cur_element in cur_sublist]

In [19]:
result

[1, 2, 3, 4, 5, 6, 7, 8]

So the expression we write to the left of the top-level for-loop actually is inserted as the body of that top-level loop.

Remember the if-statement we used to filter elements above? This is what we had using regular looping syntax:

In [8]:
even_lst = []
for i in range( 1, 21 ):
    if i % 2 == 0:
        even_lst.append( i )

Remember that the list comprehension syntax does away with (1) the initialization and (2) the `list.append()` statement, right? Let us take those out of the above code

    for i in range( 1, 21 ):
        if i % 2 == 0:
        
Then we have this.

Place `[ ... ]` around the whole thing and lose the `:` at the end of the for-loop construct, and we have

    [for i in range( 1, 21 ) if i % 2 == 0]
   
Finally, we need to remember to specify what element we will include in each iteration of the for-loop&mdash;this will be `i`.

    [i for i in range( 1, 21 ) if i % 2 == 0]

If we do chop away the same parts from the above nested loop we will have the shorter list comprehension syntax with the nested for-loops.

Since there is no limit to how much nesting we can use, we can do the following as well, but, first, let us create a 3-layer list.

In [21]:
list_of_list_of_lists = [] # Initialization--top level
i = 0
for x in range( 3 ):
    list_of_lists = [] # Initialization--second level
    for y in range( 4 ):
        a_list = [] # Initialization--third level
        for z in range( 5 ):
            a_list.append( f"{i:02d}" ) # Appending--third level
            i += 1
        list_of_lists.append( a_list ) # Appending--second level                
    list_of_list_of_lists.append( list_of_lists ) # Appending--top level

In [22]:
list_of_list_of_lists

[[['00', '01', '02', '03', '04'],
  ['05', '06', '07', '08', '09'],
  ['10', '11', '12', '13', '14'],
  ['15', '16', '17', '18', '19']],
 [['20', '21', '22', '23', '24'],
  ['25', '26', '27', '28', '29'],
  ['30', '31', '32', '33', '34'],
  ['35', '36', '37', '38', '39']],
 [['40', '41', '42', '43', '44'],
  ['45', '46', '47', '48', '49'],
  ['50', '51', '52', '53', '54'],
  ['55', '56', '57', '58', '59']]]

Essentially, we have $\mathtt{3\times 4 \times 5}$ cubic structure. And let's say we wish to flatten this structure as well.

Using regular looping, we would the following.

In [23]:
flat_list = []

for x in list_of_list_of_lists: # List of list of lists
    for y in x: # x: List of lists
        for z in y: # y: A list
            flat_list.append( z )
            
#
# >>> [z for x in list_of_list_of_lists for y in x for z in y]
#

In [24]:
print( flat_list )

['00', '01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31', '32', '33', '34', '35', '36', '37', '38', '39', '40', '41', '42', '43', '44', '45', '46', '47', '48', '49', '50', '51', '52', '53', '54', '55', '56', '57', '58', '59']

Using nested list comprehension syntax, we would write exactly the same thing, except for the initialization and `list.append()`&mdash;plus no `:`s.

[z for x in list_of_list_of_lists for y in x for z in y]

In [25]:
flattened = [z for x in list_of_list_of_lists for y in x for z in y]

In [26]:
print( flattened )

['00', '01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31', '32', '33', '34', '35', '36', '37', '38', '39', '40', '41', '42', '43', '44', '45', '46', '47', '48', '49', '50', '51', '52', '53', '54', '55', '56', '57', '58', '59']

We can process individual items that will be part of the eventual list that will be created with the list comprehension expression. For example, we can convert numeric strings into integers.

In [27]:
flattened_processed = [int( z ) for x in list_of_list_of_lists for y in x for z in y]

print( flattened_processed )

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59]

Here's an example problem.

__PROBLEM:__ Write Python code to _transpose_ the following $\mathtt{3\times 3}$ matrix

    matrix = [[1, 2, 3],                 matrix=[[(0, 0), (0, 1), (0, 2)], # Row 1
              [4, 5, 6],                         [(1, 0), (1, 1), (1, 2)], # Row 2
              [7, 8, 9]]                         [(2, 0), (2, 1), (2, 2)]] # Row 3

Transposing involves turning rows into columns (or columns into rows). That is, this is what we should get back from this code:

    [[1, 4, 7],
     [2, 5, 8],
     [3, 6, 9]]

The first row is `[1, 2, 3]`. So this data will have to be the first _column_ in the resulting matrix.

How can we do this?

Going _incrementally_, let us first make sure that we can _iterate_ through every element.

In [29]:
matrix = [[1, 2, 3],
          [4, 5, 6],
          [7, 8, 9]]

In [30]:
for cur_row in matrix:
    #
    for col_elem in cur_row:
        #
        print( col_elem, end=" " )
        
    print( "| ", end="" )

1 2 3 | 4 5 6 | 7 8 9 |

Using indices, we can write the above code as follows:

In [33]:
for i in range( 3 ):
    #
    for j in range( 3 ):
        #
        print( matrix[i][j], end=" " )
        
    print( "| ", end="" )

1 2 3 | 4 5 6 | 7 8 9 |

Using `enumerate()` ...

In [34]:
for row_idx, cur_row in enumerate( matrix ):
    #
    for col_idx, col_elem in enumerate( cur_row ):
        #
        print( matrix[row_idx][col_idx], end=" " )
        
    print( "| ", end="" )

1 2 3 | 4 5 6 | 7 8 9 |

So, the value at each column index, `j` must go into a separate list! But let's simplify our task and start with a list of empty lists into which we need to place our values in transposed form. In other words, there are no elements in each row.

In [35]:
transposed_matrix = [[], [], []]

for i in range( 3 ): # First, traverse through the i-index
    #
    for j in range( 3 ): # Second, traverse through the j-index
        #
        # Take the value at matrix[i, j] and place it on row j in the
        # transposed matrix. If the transposed matrix already had placeholders
        # for each value, we could have written the following statement as
        #
        #    transposed_matrix[j][i] = matrix[i][j]
        #
        transposed_matrix[j].append( matrix[i][j] )
        
        print( f"--- Inserting matrix[{i}, {j}] at transposed_matrix[{j}, {i}]" )
        print( f"--- transposed_matrix: {transposed_matrix}\n" )

--- Inserting matrix[0, 0] at transposed_matrix[0, 0]
--- transposed_matrix: [[1], [], []]

--- Inserting matrix[0, 1] at transposed_matrix[1, 0]
--- transposed_matrix: [[1], [2], []]

--- Inserting matrix[0, 2] at transposed_matrix[2, 0]
--- transposed_matrix: [[1], [2], [3]]

--- Inserting matrix[1, 0] at transposed_matrix[0, 1]
--- transposed_matrix: [[1, 4], [2], [3]]

--- Inserting matrix[1, 1] at transposed_matrix[1, 1]
--- transposed_matrix: [[1, 4], [2, 5], [3]]

--- Inserting matrix[1, 2] at transposed_matrix[2, 1]
--- transposed_matrix: [[1, 4], [2, 5], [3, 6]]

--- Inserting matrix[2, 0] at transposed_matrix[0, 2]
--- transposed_matrix: [[1, 4, 7], [2, 5], [3, 6]]

--- Inserting matrix[2, 1] at transposed_matrix[1, 2]
--- transposed_matrix: [[1, 4, 7], [2, 5, 8], [3, 6]]

--- Inserting matrix[2, 2] at transposed_matrix[2, 2]
--- transposed_matrix: [[1, 4, 7], [2, 5, 8], [3, 6, 9]]

Do you see the indices reversed? That's transposition.

In [36]:
transposed_matrix

[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

<span style="color: #a00;">__However, for a general square matrix, we need to find a way to create all elements starting with an _empty_ list.__<span>

In [37]:
matrix

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [38]:
transposed_matrix = []

for j in range( 3 ): # Note that this outer loop runs through j-values
    #
    # Start a new row
    #
    transposed_matrix.append( [] ) # Note this append() operation!
      
    for i in range( 3 ): # Note that this inner loop runs through i-values
        #
        transposed_matrix[j].append( matrix[i][j] )
        
        print( f"--- Inserting matrix[{i}, {j}] at transposed_matrix[{j}, {i}]" )
        print( f"--- transposed_matrix: {transposed_matrix}\n" )

--- Inserting matrix[0, 0] at transposed_matrix[0, 0]
--- transposed_matrix: [[1]]

--- Inserting matrix[1, 0] at transposed_matrix[0, 1]
--- transposed_matrix: [[1, 4]]

--- Inserting matrix[2, 0] at transposed_matrix[0, 2]
--- transposed_matrix: [[1, 4, 7]]

--- Inserting matrix[0, 1] at transposed_matrix[1, 0]
--- transposed_matrix: [[1, 4, 7], [2]]

--- Inserting matrix[1, 1] at transposed_matrix[1, 1]
--- transposed_matrix: [[1, 4, 7], [2, 5]]

--- Inserting matrix[2, 1] at transposed_matrix[1, 2]
--- transposed_matrix: [[1, 4, 7], [2, 5, 8]]

--- Inserting matrix[0, 2] at transposed_matrix[2, 0]
--- transposed_matrix: [[1, 4, 7], [2, 5, 8], [3]]

--- Inserting matrix[1, 2] at transposed_matrix[2, 1]
--- transposed_matrix: [[1, 4, 7], [2, 5, 8], [3, 6]]

--- Inserting matrix[2, 2] at transposed_matrix[2, 2]
--- transposed_matrix: [[1, 4, 7], [2, 5, 8], [3, 6, 9]]

In [39]:
transposed_matrix

[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

Simply speaking, we reversed the order of how we run through `i` and `j` indices, where `i` represents the row indices and `j` represents the column indices.

Here the second `append()` statement actually inserts into the empty list created by the first `append()` within the outer for-loop.

Since we have two `append()`s, how will we translate this into a list comprehension format?

Again, we need to divide the problem up into several pieces to solve it. You should recognize this structure:

    <initialization of a list, L>
    
    for i in range( N ):
        #
        L.append( value[i] )

This is our simple list comprehension case that we considered first. So we apply our conversion procedure to this structure to get our transposed matrix remembering that we are appending the value `matrix[i][j]`!

    [value[i] for i in range( N )]
    
Sure, we do not have a definition for `j` just yet, but we will get to that in just a moment. So, with this conversion, we have

    for j in range( 3 ):
    
        [matrix[i][j] for i in range( 3 )]
    
This code does not do anything on its own really, because the conversion is not yet complete, but, the visualization of the above step will help us understand what to do next.

Note also that we need to _append_ the resulting value of `[matrix[i][j] for i in range( 3 )]` into our overall list to get a list of lists.

Since this is the value we need to append, we must list it first. Remember in an example like the one below

    L = []
    for i in range( 3 ):
        L.append( i**2 )
        
we would place the value to be appended to the list in first place:

    [i**2 for i in range( 3 )]
    
So, we do the exact same thing for our more complicated case of matrix transposition. So

    [matrix[i][j] for i in range( 3 )]

is the value we will be inserting into the list every time.

So, how can we do the same using _list comprehension_ syntax?

- Lose the initialization
- Lose the `append()` statement
- Place `[ ... ]` around the entire expression

In [40]:
transposed_matrix = []
for j in range( 3 ): 
    transposed_matrix.append( [] )
    for i in range( 3 ):
        transposed_matrix[j].append( matrix[i][j] )

In [42]:
transposed_matrix = []
for j in range( 3 ): 
    transposed_matrix.append( [] )
    #for i in range( 3 ):
    #    transposed_matrix[j].append( matrix[i][j] )
    
transposed_matrix

[[], [], []]

In [43]:
transposed_matrix = [[] for j in range( 3 )]

transposed_matrix

[[], [], []]

In [44]:
transposed_matrix = []
for j in range( 3 ): 
    transposed_matrix.append( [] )
    for i in range( 3 ):
        transposed_matrix[j].append( matrix[i][j]  )
    
transposed_matrix

[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

In [46]:
transposed_matrix = [[matrix[i][j] for i in range( 3 )] for j in range( 3 )]

transposed_matrix

[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

In [47]:
[matrix[i][0] for i in range( 3 )]

[1, 4, 7]

In [48]:
[matrix[i][1] for i in range( 3 )]

[2, 5, 8]

In [49]:
[matrix[i][2] for i in range( 3 )]

[3, 6, 9]

We have an alternative that can be created from a different ordered loop, but not the one above:

In [50]:
transposed_matrix = [[matrix[j][i] for j in range( 3 )] for i in range( 3 )]

transposed_matrix

[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

Voila!

Here's a somewhat cleaner solution with less use of indices from
> https://www.datacamp.com/community/tutorials/python-list-comprehension:

In [52]:
[[row[j] for row in matrix] for j in range( 3 )]

[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

Using regular looping, we could do:

In [53]:
transposed_matrix = []

for j in range( 3 ):
    #
    transposed_matrix.append( [] ) # Start a new row
    
    for row in matrix:
        #
        transposed_matrix[j].append( row[j] )

In [54]:
transposed_matrix

[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

We keep getting each row of the matrix in the inner loop, but&mdash;a big but&mdash;only take the value in the current column (`j` value).

We cannot do this without iterating throw rows in the inner loop really! So, that's the biggest trick!

Then, using the translation approach described above, you can convert this regular Python code into list comprehension style to get the answer we have already run right above.

---

## `lambda` (nameless) functions

I used a `lambda` function above, which is a much easier way to express simple and short tasks without a named function.

In general, we can write `lambda` functions like this:

      lambda arg_1, arg_2, ..., arg_n: <some short code in terms of arg_1, ..., arg_n>
      
We can assign a name to a `lambda` function, if we wish, but, more than not, we will be using `lambda` functions to express concise ideas that we need not repeat all over the place, hence the namelessness.

We can write an _identity_ function using `lambda` simply by writing

     lambda x: x
 
This is equivalent to writing

     def some_function( x ):
         return x
         
There is no need to write a separate function with a name and then call it someplace.

We can even write short, nameless, or anonymous functions that we can write and execute in place by surrounding the `lambda` definition with `( ... )`.

In [55]:
y = (lambda x: x**2)(5)

In [56]:
y

25

Let us define a `lambda` function and inspect it to see what kind of object it is.

In [57]:
identity = lambda x: x

In [58]:
type( identity )

function

So `lambda`s are functions, just like regular, named Python functions.

To write the identity function above, we could have used regular function definition syntax:

In [69]:
def identity( x ):
    return x

You may have noted, `lambda` functions do __not__ need an explicit `return` statement, because, they do nothing but _return_ the result of the expression in their body.

Let's dig in a little deeper and convert the code expressed by a `lambda` function into Python _bytecode_ using the disassembler module, `dis` [[https://realpython.com/python-lambda/](https://realpython.com/python-lambda/)].

In [59]:
add_l = lambda x, y: x + y

In [60]:
type( add_l )

function

In [61]:
add_l( 4, 8 )

12

So, let's disassemble `add_l()` ...

In [62]:
import dis

In [63]:
dis.dis( add_l )

  1           0 LOAD_FAST                0 (x)
              2 LOAD_FAST                1 (y)
              4 BINARY_ADD
              6 RETURN_VALUE

Let's go through the same exercise with an equivalent function defined using `def`.

In [64]:
def add_f( x, y ): 
    return x + y

In [65]:
type( add_f )

function

In [66]:
add_f( 5, 7 )

12

In [67]:
dis.dis( add_f )

  2           0 LOAD_FAST                0 (x)
              2 LOAD_FAST                1 (y)
              4 BINARY_ADD
              6 RETURN_VALUE

Do you see any difference between `add_l` and `add_f`? I don't! :)

---

## `map()`, `filter()`, `reduce()`

- ***Mapping:*** Applying a given function, `f(.)`, onto every element, `e`, in a sequence and returning a new sequence where each element is the result of `f(e)`. So, if we have as input the list
    
      L = [a, b, c, d, e]
    
    Then `map( f, L )` will return `[f(a), f(b), f(c), f(d), f(e)]`.
    
- ***Filtering:*** Applies a _boolean_ function `f(.)` onto every element, `e`, in a sequence and returns a new sequence with elements for which `f(.)` returned `True.` So, for example, if `f(b)`, `f(d)`, and `f(e)` returned `True` and `f(a)` and `f(c)` returned `False`, then `filter( f, L )` will return the list

        [b, d, e]
        
        
- ***Reducing:*** Applies a *binary* function&mdash;a function, `f( x, y )` that takes two parameters&mdash;by removing the first two elements from the input sequence, computes the result, and inserts this result back into index 0. Then it repeats the same procedure until there is a single value left. So, for exampl,e `reduce( f, L )` would do the following:

        START: L <-- [a, b, c, d, e]
        reduce( f, L )
            r1 <-- f( a, b )
            REPLACE a and b with the result of f( a, b ), r1
            L <-- [r1, c, d e]
            r2 = f( r1, c )
            L <-- [r2, d, e]
            r3 = f( r2, d )
            L <-- [r3, e]
            r4 = f( r3, e )
            L <-- [r4]
        RETURN r4

In [68]:
def capitalize_all( list_of_strings ):
    """
    Returns a new list where each string is capitalized.
    """
    result = []
    for cur_string in list_of_strings:
        result.append( cur_string.capitalize() )
    return result

In [69]:
s = ["This", "THAT", "CypRus", "1World", 
     "near east university", "$ sign", "123WorlD",
     "0.5 Hello", "__VARIAble", "--apRIL", "  someTHING",
     "0.5Hello", "$SIGN"]

capitalize_all( s )

['This',
 'That',
 'Cyprus',
 '1world',
 'Near east university',
 '$ sign',
 '123world',
 '0.5 hello',
 '__variable',
 '--april',
 '  something',
 '0.5hello',
 '$sign']

In [70]:
help( str.capitalize )

Help on method_descriptor:

capitalize(self, /)
    Return a capitalized version of the string.

    More specifically, make the first character have upper case and the rest lower
    case.

What we have done is to apply the `str.capitalize()` function to each member of the input list of strings.

To do this manually, we would do the following:

Given

    r = ["This", "THAT", "CypRus", "1World"] 

the result of `capitalize_all()` could be recreated by doing the following:

    s = [str.capitalize( "This" ), 
         str.capitalize( "THAT" ), 
         str.capitalize( "CypRus" ), 
         str.capitalize( "1World" )]

In [71]:
r = ["This", "THAT", "CypRus", "1World"] 
s = [str.capitalize( "This" ), 
     str.capitalize( "THAT" ), 
     str.capitalize( "CypRus" ), 
     str.capitalize( "1World" )] 
s

['This', 'That', 'Cyprus', '1world']

So, in this case, we applied the function `str.capitalize()` to _all_ elements of list `r`.

This is called _mapping `str.capitalize()` onto list `r`_.

To facilitate applying any function to the members of a given list, we can write a general function.

In [72]:
def map_function( func, sequence ):
    """
    Maps the given function to each element of the input 
    sequence and returns the result.
    """
    result = []
    for cur_element in sequence:
        cur_result = func( cur_element )
        result.append( cur_result )
    return result

In [73]:
str.capitalize( "hello" )

'Hello'

In [74]:
k = ["This", "THAT", "CypRus", "1World"] 
map_function( str.capitalize, k )

['This', 'That', 'Cyprus', '1world']

In [75]:
map_function( lambda s: s*2, k )

['ThisThis', 'THATTHAT', 'CypRusCypRus', '1World1World']

In [76]:
import string

In [77]:
string.ascii_letters

'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ'

In [78]:
"s" in string.ascii_letters

True

In [79]:
"?" in string.ascii_letters

False

In [80]:
"a" <= "s" <= "z"

True

In [81]:
"A" <= "s" <= "Z"

False

In [82]:
"a" <= "s" <= "z" or "A" <= "s" <= "Z"

True

In [83]:
"a" <= "?" <= "z" or  "A" <= "?" <= "Z"

False

In [84]:
"a" < "?"

False

In [85]:
"?" < "a"

True

In [86]:
ord( "?" ), ord( "A" ), ord( "a" )

(63, 65, 97)

In [87]:
import string

def is_first_letter_alphabetic( in_str ):
    """
    Returns True if the first letter of the given string
    is an alphabetic characters, and False otherwise.
    
    What if we replace the parameter name in_str with
    string?
    """
    first_letter = in_str[0]
    return first_letter in string.ascii_letters # return first_letter.isalpha()

In [88]:
is_first_letter_alphabetic( "Alpha" )

True

In [89]:
k

['This', 'THAT', 'CypRus', '1World']

In [90]:
check_alpha = map_function( is_first_letter_alphabetic, k )

In [91]:
check_alpha

[True, True, True, False]

We can also check if _all_ input words had alphabetic first characters.

In [92]:
all( check_alpha )

False

In [93]:
all( [1, "abc", True, "XYZ", {"a": 1}] )

True

In [94]:
[bool( 1 ), bool( "abc" ), bool( True ), bool( "XYZ" ), bool( {"a": 1} )]

[True, True, True, True, True]

We can also check if we have at least one word that starts with an alphabetic character.

In [95]:
any( check_alpha )

True

In [97]:
all( [1, 2, 3, 0] )

False

In [98]:
any( [1, 2, 3, 0] )

True

In [99]:
str.isalpha( "A" ), "3".isalpha(), "3".isalnum(), "3".isdigit(), "a3".isalnum()

(True, False, True, True, True)

Of course, we have a special function called `map()` that maps functions to sequences!

In [100]:
m = map( is_first_letter_alphabetic, k )

In [101]:
m

In [102]:
help( m )

Help on map object:

class map(object)
 |  map(func, *iterables) --> map object
 |
 |  Make an iterator that computes the function using arguments from
 |  each of the iterables.  Stops when the shortest iterable is exhausted.
 |
 |  Methods defined here:
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __next__(self, /)
 |      Implement next(self).
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

Since `map` objects do not evaluate automatically to list types, we need to convert such objects in to lists manually to be able to immediately see what they have inside.

In [103]:
list( map( is_first_letter_alphabetic, k ) )

[True, True, True, False]

What if we wanted only those elements in a sequence that satisfy a boolean function? For example, what if we wanted to filter out all words in a list of words where the first letter in those words are not alphabetic?

In [104]:
def filter_function( bool_func, sequence ):
    """
    Filters in (or keeps) all elements in the given 
    sequence that return True for the given boolean
    function.
    """
    result = []
    for cur_element in sequence:
        if bool_func( cur_element ):
            result.append( cur_element )
    return result

In [105]:
filter_function( is_first_letter_alphabetic, k )

['This', 'THAT', 'CypRus']

In [106]:
# Let's filter words whose last letter is 's' or 'S'
#
filter_function( lambda s: s[-1].lower() == "s", k )

['This', 'CypRus']

Python has a function called `filter()` that does the job of our `filter_function()`.

In [107]:
f = filter( lambda s: s[-1].lower() == "s", k )

In [108]:
f

In [109]:
list( f )

['This', 'CypRus']

In [110]:
def sum_all( list_of_numbers ):
    """
    Returns the sum of the provided list of numbers.
    """
    total = 0
    for cur_number in list_of_numbers:
        total += cur_number
    return total

t = [1, 2, 3, 4, 5, 6]
sum_all( t )

21

We can sum all numbers in a sequence using _reduction_. So we take the first two elements, apply a function, and insert the result of the function in place of those values, and keep going until no more elements remain.  

    t = [1, 2, 3, 4, 5, 6]
    cur_sum = 1 + 2 --> 3
    
    t  = [3, 3, 4, 5, 6]
    cur_sum = 3 + 3 --> 6

    t  = [6, 4, 5, 6]
    cur_sum = 6 + 4 --> 10
    
    t  = [10, 5, 6]
    cur_sum = 10 + 5 --> 15
    
    t  = [15, 6]
    cur_sum = 15 + 6 --> 21
    
So, our final answer is 21. Let's implement this.

In [112]:
def sum_2( a, b ):
    """
    Returns a + b
    """
    return a + b

def reduce_func( func, sequence ):
    """
    reduce( lambda a, b: a + b, [1, 2, 3, 4, 5, 6] )
    
    L_0 = [1, 2, 3, 4, 5]
    f <- 1
    s <- 2
    r = 1 + 2 = 3
   
    L_1 = [3, 3, 4, 5]
    f <- 3
    s <- 3
    r = 3 + 3 = 6
    
    L_2 = [6, 4, 5]
    f <- 6
    s <- 4
    r = 6 + 4 = 10
    
    L_3 = [10, 5]
    f <- 10
    s <- 5
    r = 10 + 5 = 15
    
    L_4 = [15]
    f <- 15
    s <- X
    r = 15
    
    Algorithm REDUCE( function F, sequence S )
        LOOP over S as long as S has at least 2 elements remaining:
            f <- S[0]
            s <- S[1]
            result <- F( f, s )
            REMOVE the first two elements of S
            INSERT result in first position in S
        RETURN S[0] as the result
       
    """
    if not sequence:
        raise TypeError( "reduce_function() of empty sequence with no initial value" ) 
    # We make a local copy of the input sequence so that we do not
    # destructively modify it.
    local_sequence = sequence[:]
    while len( local_sequence ) > 1:
        #first = local_sequence[0]
        #second = local_sequence[1]
        first, second = local_sequence[:2]
        print( "f: {}, s: {}".format( first, second ) )
        cur_result = func( first, second )
        print( "S (before) <- {}".format( local_sequence ) )
        #local_sequence = [cur_result] + local_sequence[2:]
        local_sequence[:2] = [cur_result]
        print( "S (after)  <- {}".format( local_sequence ) )
    return local_sequence[0] if local_sequence else None

In [113]:
#n = [10, 20, 30, 40, 50, 60, 70, 80, 90]    
n = [10, 20, 30, 40, 50, 60]

In [114]:
n[:2]

[10, 20]

In [115]:
n[:2] = 10 + 20

TypeError: can only assign an iterable

In [116]:
type( n[:2] ), type( [10 + 20] )

(list, list)

In [117]:
n[:2] = [10 + 20]
n

[30, 30, 40, 50, 60]

In [118]:
n[:2] = [30 + 30]
n

[60, 40, 50, 60]

In [119]:
n[:2] = [60 + 40]
n

[100, 50, 60]

In [120]:
n[:2] = [150]
n

[150, 60]

In [121]:
n[:2] = [210]
n

[210]

Since we only have a single value remaining, that means we have the result of the *reduction* we have just performed.

In [122]:
#n = [10, 20, 30, 40, 50, 60, 70, 80, 90]    
n = [10, 20, 30, 40, 50, 60]

In [123]:
reduce_func( sum_2, n )

f: 10, s: 20
S (before) <- [10, 20, 30, 40, 50, 60]
S (after)  <- [30, 30, 40, 50, 60]
f: 30, s: 30
S (before) <- [30, 30, 40, 50, 60]
S (after)  <- [60, 40, 50, 60]
f: 60, s: 40
S (before) <- [60, 40, 50, 60]
S (after)  <- [100, 50, 60]
f: 100, s: 50
S (before) <- [100, 50, 60]
S (after)  <- [150, 60]
f: 150, s: 60
S (before) <- [150, 60]
S (after)  <- [210]

210

In [15]:
L = [1, 2, 3, 4, 5, 6]
f, s = L[:2]
f, s

(1, 2)

In [16]:
x, y, z = L[2:5]
x, y, z

(3, 4, 5)

In [17]:
reduce_func( sum_2, [33, 44, 55] )

f: 33, s: 44
S (before) <- [33, 44, 55]
S (after)  <- [77, 55]
f: 77, s: 55
S (before) <- [77, 55]
S (after)  <- [132]

132

In [18]:
reduce_func( sum_2, [33, 44] )

f: 33, s: 44
S (before) <- [33, 44]
S (after)  <- [77]

77

In [19]:
reduce_func( sum_2, [33] )

33

In [20]:
reduce_func( sum_2, [] )

TypeError: reduce_function() of empty sequence with no initial value

In [21]:
range( len( n ) )

range(0, 6)

In [22]:
list( range( len( n ) ))

[0, 1, 2, 3, 4, 5]

In [23]:
# We have a ready-made function called sum() 
# that does exactly this
sum( [1, 2, 3, 4, 5] )

15

We already have a `reduce()` function in Python that does exactly the same thing as our `reduce_function()`. So we should try it on our examples to see if it produces the same results as `reduce_function()`.

In [124]:
# We need to import reduce() in Python 3, but we do not have to do this in Python 2.
#
from functools import reduce

In [125]:
n = [10, 20, 30, 40, 50, 60]    
reduce( sum_2, n )

210

In [126]:
reduce( lambda a, b: a + b, n )

210

In [127]:
reduce( sum_2, [33, 44, 55] )

132

In [128]:
reduce( sum_2, [33, 44] )

77

In [34]:
reduce( sum_2, [33] )

33

In [36]:
reduce( sum_2, [] )

TypeError: reduce() of empty sequence with no initial value

In [37]:
reduce( lambda x, y: x*y, [1, 2, 3, 4, 5] )

120

Let's write a function called `all_true()` that returns `True` when all elements evaluate to `True` and `False` otherwise. For example,

    all_true( [True, True, True] )                --> True
    all_true( [True, True, False, True] )         --> False
    all_true( [1, True, 2.5, "hello", {"a": 1}] ) --> True
    all_true( [1, True, 2.5, "", {"a": 1}] )      --> False

In [39]:
bool( "" ), bool( "NEU" )

(False, True)

In [40]:
def all_true( sequence ):
    """
    Returns True as long as all elements in the given sequence return
    True for bool(), and False otherwise. But, let us write this function
    without using the ready-made all() function in Python.
    """
    for cur_element in sequence:
        if not bool( cur_element ):
            return False
    return True

In [42]:
print( all_true( [True, True, True] ) )
print( all_true( [True, True, False, True] ) )       
print( all_true( [1, True, 2.5, "hello", {"a": 1}] ) )
print( all_true( [1, True, 2.5, "", {"a": 1}] ) )

True
False
True
False

---

__QUESTION__: Can we implement `all_true()` using `reduce()`?

In [44]:
import functools

def all_true_v2( sequence ):
    """
    An implementation of all() using reduce()
    
    Note what happens and why when we remove the bool() calls!
    Try and see ... like we did during the lecture.
    """
    truth_value = functools.reduce( lambda a, b: bool( a ) and bool( b ), sequence  )
    return truth_value

In [46]:
print( all_true_v2( [True, True, True] ) )
print( all_true_v2( [True, True, False, True] ) )       
print( all_true_v2( [1, True, 2.5, "hello", {"a": 1}] ) )
print( all_true_v2( [1, True, 2.5, "", {"a": 1}] ) )

True
False
True
False

We do not really need to write our own `all()` function, because one is provided to us by Python.

In [47]:
all( [True, True, True, True] )

True

In [48]:
all( [True, True, False, True] )

False

In [49]:
any( [True, True, True, True] )

True

In [50]:
any( [True, False, False, False] )

True

In [51]:
any( [False, False, False, False] )

False

In [ ]:
a = "strawberry"
b = "strawberry"
id( a ), id( b ), a is b

In [ ]:
c = [1, 2, 3, 4]
d = [1, 2, 3, 4]
id( c ), id( d ), c is d

In [ ]:
e = ["Hello", 10, 4.5]
f = e
id( e ), id( f ), e is f, f is e

In [ ]:
f[2] = "world"
e, f, id( e ), id( f ), e is f, f is e

In [ ]:
g = f
e, f, g, id( e ), id( f ), id( g ), e is f, f is e, g is e, g is f

In [ ]:
g[1] = "to the"
e, f, g, id( e ), id( f ), id( g ), e is f, f is e, g is e, g is f

In [ ]:
def bad_delete_head( seq ):
    """
    """
    print( "id in bad_delete before: {}".format( id( seq ) ))
    print( "seq before: {}".format( seq ) )
    seq = seq[1:]
    print( "seq after: {}".format( seq ) )
    print( "id in bad_delete after: {}".format( id( seq ) ))
    
s = [10, 22, 5, 90, 45]
print( "id in main before: {}".format( id( s ) ))
bad_delete_head( s )
print( "id in main after: {}".format( id( s ) ))
s

---